.map {
    height: 90vh;
}

#HomeButton {
    position:absolute;
    top: 6rem;
    left: 1.7rem;
    z-index: 50;
    opacity: 0.75;
}

#legend {
    width: 15rem;
    opacity: 0.85;
    background-color: #fff;
    position: absolute !important;
    z-index: 99;
    top:10px;
    right:20px;
}
